<div class="card">
  <div class="card-body">
      <form [formGroup]="productForm">

          <div class="form-group">
              <label class="col-md-4">Product Name</label>
              <input type="text" formControlName="pname" class="form-control" />
          </div>
          <div *ngIf="productForm.controls['pname'].errors != null && productForm.controls['pname'].invalid && (productForm.controls['pname'].dirty || productForm.controls['pname'].touched)"
              class="alert alert-danger">
              <div *ngIf="productForm.controls['pname'].errors['required'] != null">
                  Product Name is required.
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4">Price </label>
              <input type="text" formControlName="price" class="form-control" />
          </div>
          <div *ngIf="productForm.controls['price'].errors != null && productForm.controls['price'].invalid && (productForm.controls['price'].dirty || productForm.controls['price'].touched)"
              class="alert alert-danger">
              <div *ngIf="productForm.controls['price'].errors['required'] != null">
                  Price is required.
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4">Quantity </label>
              <input type="text" formControlName="quantity" class="form-control" />
          </div>
          <div *ngIf="productForm.controls['quantity'].errors != null && productForm.controls['quantity'].invalid && (productForm.controls['quantity'].dirty || productForm.controls['quantity'].touched)"
              class="alert alert-danger">
              <div *ngIf="productForm.controls['quantity'].errors['required'] != null">
                  Quantity is required.
              </div>
          </div>

          <div class="form-group">
              <button (click)="insertProduct()" [disabled]="productForm.pristine || productForm.invalid" class="btn btn-primary">
                  Add Product
              </button>
          </div>
      </form>
  </div>
</div>