<h1 align="center">Welcome to Angular!!</h1>

<table border="1" width="90%" align="center">
  <tr>
    <td align="center">
      <h1>Header</h1>
    </td>
  </tr>
  <tr>
    <td>
      <table border="1" width="100%">
        <tr>
          <td>
            <ul>
              <li>
                <a routerLink="product/create" routerLinkActive="active">Insert Product</a><br>
                <a routerLink="products" routerLinkActive="active">Products</a>
              </li>
            </ul>

          </td>
          <td width="70%">
            <router-outlet></router-outlet>
          </td>
          <td> </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <h3>Footer</h3>
    </td>
  </tr>
</table>